@charset "utf-8";

//　path 
$IMGPATH: "../../images/";

//　color 
$gray: #333333;
$lightgray2: #999;
$lightgray: #d5d4cd;
$gold: #b59100;
$red: #af2424;
$beige: #f1f0ea;
$beige2: #e8e1c5;
$white: #fff;


